body{
    background: black;
}
.slider{
    width: 1100px;
    height: 600px;
    overflow: hidden;
    border: 3px solid white;
}
.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navigation{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #ddd;
    opacity: 0.8;
    border-radius: 10px;
    transition: all 0.6s ease;
}
.bar:hover{
    opacity: 0.9;
    transform: scale(1.1);
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 400%;
    height: 100%;
    display: flex;
}
.slide{
    width: 25%;
    transition: all 0.5s ease;
}
.slide img{
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1{
    margin-left: 0%;
}
#r2:checked ~ .s1{
    margin-left: -25%;
}
#r3:checked ~ .s1{
    margin-left: -50%;
}
#r4:checked ~ .s1{
    margin-left: -75%;
}