body{
    background: gray;

}
#header{
    width: 100%;
    min-height: 100px;
    padding: 5px;
    border: 1px solid red;
    box-sizing: border-box;
    float: left;
    background: yellowgreen;
    margin-bottom: 10px;
}
.cont1{
    width: 65%;
    min-height: 300px;
    padding: 5px;
    border: 1px solid blue;
    box-sizing: border-box;
    float: left;
    background: goldenrod;
    margin-bottom: 10px;
}
.cont2{
    width: 35%;
    min-height: 300px;
    padding: 5px;
    border: 1px solid blue;
    box-sizing: border-box;
    float: left;
    background: goldenrod;
    margin-bottom: 10px;
}
.cont3{
    width: 33.3%;
    min-height: 200px;
    padding: 5px;
    border: 1px solid black;
    box-sizing: border-box;
    float: left;
    background: green;
    margin-bottom: 10px;
}
.footer{
    width: 100%;
    min-height: 100px;
    padding: 5px;
    border: 1px solid rebeccapurple;
    box-sizing: border-box;
    float: left;
    background: purple;
}
